<h1>{{title}}</h1>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="!((sidenavHidden$ | async) || false)">
    Sidenav content
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="listresorts">
      <button mat-raised-button color="primary" (click)="showSidenav()">Show Sidenav</button>
      <button mat-raised-button color="warn" (click)="hideSidenav()">Hide Sidenav</button>
      <div>sidenav is {{sidenavHidden?"hidden":"displayed"}}</div>
      <ul *ngFor="let resort of this.resorts$|async; trackBy: identifyResort">
        <li>
          <a [attr.href]="resort.url" target="_blank">{{resort.name}}</a>
          <button mat-stroked-button (click)="deleteItem(resort.id)">Delete</button>
          <button mat-stroked-button [routerLink]="['update' , resort.id]">Update</button>
        </li>
      </ul>
    </div>
    <div class="updateresort">
      <div class="updateform">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


